/* Colors 
_________________________________ */

:root {
    --color-primary: #97ABB7;
    --color-weight: #324048;
    --color-blue: #5176b5;
    --color-white: #ffffff;
    --color-gray: #f3f3f3;
}


/*  Texts
_________________________________ */

.cadastro h1 {
    font-size: 45px;
    text-align: justify center;
    color: var(--color-blue);
}

.cadastro p {
    font-size: 18px;
    font-weight: 800;
    text-align: justify center;
    color: #435da5;
    margin: 30px 0;
}

/*  Cadastro
_________________________________ */
body{
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.banner-login {
  color: white;
  height: 550px;
  /* border: 3px solid yellow; */
  background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}

.banner-login .container {
  height: 550px;
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-login {
  color: #e6005a;
}

.banner-login .card {
  background-color: #e5e5e5;
  height: 70vh;
  width: 80vw;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#form_cadastro{
  display: flex;
}

#cadastro_esquerda{
  width: 40vw;
  height: 60vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cadastro_direita{
  width: 40vw;
  height: 60vh;
  float: right;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-login a {
  color: white;
  text-decoration: none;
}

.banner-login #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

#img_lateral{
  height: 40%;
}

/* FORMULARIO */

input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #30303030;
    text-align: center;
    font-size: 15px;
    color: #303030;
    padding: 1%;
    width: 300px;
    margin-bottom: 20px;
}

.btn {
    background-color: #324048;
    color: #fff;
    padding: 20px 50px;
    border-radius: 51px;
    border: none;
    cursor: pointer;
    transition: background-color .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  
  }
  
.btn:hover {
      background: #847ee2;
    }

form {
  display: flex;
  flex-direction: column;
}

.loading-div {
  width: 50px;
  /* border: 3px solid pink; */
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}
