/* Media query 
_________________________________ */

@media only screen and (max-width: 1020px) {
    header {
        display: none;
    }
    .lateral-m {
        display: block;
    }
    .menu-mobile {
        display: block;
    }
    h1 {
        font-size: 40px;
        color: #333;
        margin-top: 80px;
    }
    .forms img {
        height: 200px;
    }
    .forms{
        
    }
}

@media only screen and (max-width: 830px) {}

@media only screen and (max-width: 630px) {
    .forms img {
        display: none;
    }
}