/* Colors 
_________________________________ */

:root {
    --color-primary: #97ABB7;
    --color-weight: #324048;
    --color-blue: #5176b5;
    --color-white: #ffffff;
    --color-gray: #f3f3f3;
}

.cadastro {
    text-align: left;
}
/* Login 
_________________________________ */
body { 
    padding: 0;
    margin: 0; 
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
#titulo_login h1 {
  font-size: 45px;
  text-align: justify center;
  color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

#titulo_login p {
  font-size: 18px;
  font-weight: 800;
  text-align: justify center;
  color: #435da5;
  margin: 30px 0;
}

section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.forms {
  padding: 100px 0 100px;
  width: 100%;
  margin-bottom: 130px;
}

.forms:last-of-type {
  background: #324048;
}

.forms:last-of-type h1 {
  color: #f3f3f3;
  margin-top: 30px;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #30303030;
  text-align: center;
  font-size: 15px;
  color: #303030;
  padding: 3%;
  width: 300px;
  margin-bottom: 20px;
}

textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #30303030;
  text-align: center;
  font-size: 15px;
  color: #303030;
  padding: 3%;
  /* height: 40px; */
  width: 300px;
  resize: none;
  margin-bottom: 20px;
}

.form button {
  background-color: #324048;
  color: #fff;
  padding: 20px 50px;
  border-radius: 51px;
  border: none;
  cursor: pointer;
  transition: background-color .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.form button:hover {
  background: #847ee2;
}

.forms img {
  height: 300px;
}

.forms>div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.forms .form {
  height: 300px;
  width: 530px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: #2f4c671f;
  box-shadow: 0 0 20px #00000065;
  padding: 1% 4% 1% 5%;
  border-radius: 4px;
  border-top: 4px solid #97ABB7;
  overflow-y: auto;
}

/* login antigo
.banner-login{
    margin: 0;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: cover;
}

  .banner-login .container_login {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-login {
    color: var(--color-weight);
  }
  
  .banner-login .card_medio {
    background-color:var(--color-primary);
    height: 75%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 0 20px #00000065;
    border-radius: 5px;
  }

.class_check{
    margin-left:5%;
    margin-right: 10%;
    cursor: pointer;
  }

#img_login {
    height: 300px;
}
  
  .banner-login a {
    color: var(--color-weight);
    text-decoration: none;
  }
  
  .banner-login #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  .btn{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: var(--color-blue);
}

.btn:hover{
    background-color: var(--color-weight);
}

.btn:active{
    transform: scale(0.98);
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2,border-color 0.2s;
}

.form__input:focus{
    border-color:var(--color-blue);
    background: #ffffff;
}

#id_cadastre_se{
    border-color:var(--color-blue);;
}

#id_cadastre_se:hover{
    font-weight: 600;
}

.span_nome_cargo{
    font-size: small;
    color:var(--color-white);
}
*/